@use 'base/variables' as v;
@use 'base/mixins' as m;

.about{
    .icons{
        @include m.container();
        @include m.desktop{
           @include m.grid(3, 3rem);
        }
    }
    &-content{
        padding-bottom: 2rem;
        @include m.container();
        @include m.grid(2, 3rem);
        .about-description{
            blockquote{
                font-size: 2.2rem;
                font-weight: v.$bold;
                margin: 0;
            }
            p{
                color: v.$white;
            }
        }
    }
    
}

.icon-content{
    margin-bottom: 5rem;
    img{
        height: 10rem;
    }
    h3{
        text-transform: uppercase;
    }
    p{
        text-align: center;
        color: v.$white;
    }
}