@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color' as color;

form{
        fieldset{
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
            legend{
                font-size: 2rem;
                text-transform: uppercase;
            }
            label{
                font-weight: v.$bold;
            }
            input,select,textarea{
                background-color: v.$white;
                border: 1px solid v.$gray;
                padding: 1.5rem;
                margin-bottom: 2rem;
                border-radius: 1rem;
                color: v.$darkGray;
            }
        }
    }
