@use 'base/variables' as v;
@use 'base/mixins' as m;

.ads{
    &-container{
        @include m.container();
        @include m.tablet{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 2rem;
        }
    }
    a{
        display: block;
        background-color: v.$yellow;
        width: 100%;
        border: none;
        color: v.$white;
        font-weight: v.$bold;
        font-size: 1.5rem;
        padding: 1.5rem 3rem;
        text-align: center;
    }
    .ad-container{
        @include m.tablet{
            display: flex;
            flex-direction: column;
        }
        .ad-info{
            background-color: v.$darkGray;
            ul{
                padding: 0;
            }
        }
    }
}
.ad-content{
    background-color: v.$darkGray;
    margin-bottom: 2rem; 
}
.ad-info{
    padding: 2rem;
    h3,p{
        margin: 0;
    }
    .icons-list{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 40rem;
        
        li{
            display: flex;
            flex: 1;
            img{
                flex: 0 0 3rem;
                margin-right: 1rem;
                filter: invert(100%);
            }
        }
    }   
}
.ad-info{
    p{
        color: v.$white;
    }
    .price{
        color: v.$green;
        font-weight: v.$bold;
        font-size: 3rem;
    }
}

.button-container{
    @include m.container();
    text-align: center;
    a{
        width: auto;
        background-color: v.$green;
    }
    @include m.tablet{
        display: flex;
        justify-content: end;
        a{
            width: fit-content;
        }
    }
}





