@use 'base/variables' as v;
@use 'base/mixins' as m;

.contact {
    background-color: v.$darkGray;
    background-image: url('/src/img/encuentra.jpg');
    background-size: cover;
    background-position: 50% center;
    padding: 10rem 0;
    color: v.$white;
    &-info {
        @include m.container();
        text-align: center;
        h2{
            font-size: 4rem;
            font-weight: v.$w_black;
        }
        p{
            color: v.$white;
            margin-block: 4rem;
        }
        a{
            background-color: v.$yellow;
            margin-top: 2rem;
            border: none;
            color: v.$white;
            font-weight: v.$bold;
            font-size: 1.5rem;
            padding: 1.5rem 3rem;
        }
    }

    &-form{
        fieldset{
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
            legend{
                font-size: 2rem;
                text-transform: uppercase;
            }
            label{
                font-weight: v.$bold;
            }
            input,select,textarea{
                background-color: v.$white;
                border: 1px solid v.$gray;
                padding: 1.5rem;
                margin-bottom: 2rem;
                border-radius: 1rem;
                color: v.$darkGray;
            }
        }
    }

    &-method{
        label{
            margin-inline: 1rem;
        }
    }
}