@use 'base/variables' as v;
@use 'base/mixins' as m;

header {
    padding: 2rem;
    background-color: v.$darkGray;
    &.inicio{
        background-color: v.$darkGray;
        background-image: url('/src/img/header.jpg');
        background-size: cover;
        background-position: 50%;
        .header-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include m.tablet{
                min-height: 70rem;
            }
        }
        h1{
            font-weight: v.$bold;
            color: v.$white;
            text-align: left;
            max-width: 60rem;
            line-height: 2;
        }
    }
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo{
        color: white;
        font-size: 4rem;
        font-weight: v.$light;
        text-align: center;
        text-transform: uppercase;
        @include m.tablet{
            text-align: left;
        }
        span{
            font-weight: v.$bold;
        }
    }
    &-links{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1rem;
        margin-top: 2rem;
        @include m.tablet{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: auto;
        }
        @include m.reset-list();
        li{
            margin: 0 1rem;
            a{
                font-size: 1.8rem;
                color: v.$white;
            }
            &:last-child{
                align-self: center;
            }&:hover{
                a{
                    color: v.$green;
                }
            }
        }
        & img{
            width: 2.5rem;
            height: 2.5rem;
        }
        
    }
}

.mobile-icon-menu{
    @include m.tablet{
        display: none;
    }
    width: 5rem;
}